img {
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.card {
  background: #fff;
  text-align: center;
  margin: 30px auto;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px #000;
  width: 300px;
  display: inline-block;
}
.card .header {
  position: relative;
  padding: 20px;
}
.card .header .image {
  width: 100px;
  margin: 0 auto;
}
.card .header .image img {
  border: 3px solid #1565C0;
  border-radius: 100%;
}
.card .header .description {
  position: relative;
}
.card .header .description h1 {
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}
.card .header .description p {
  color: #455A64;
  line-height: 100%;
}
.card .header .description .line {
  width: 100%;
  position: absolute;
  border: 1px solid #1565C0;
  margin-top: 5px;
}
.card .header #social-line {
  position: relative;
  top: 10px;
}
.card .header #social-line a {
  font-size: 1.5em;
}
.card .header .btn-twitter {
  margin-top: 10px;
}